@font-face {
  font-family: "inter";
  src: url(./asset/fonts/Inter_18pt-ExtraBold.ttf);
}

* {
  font-family: "inter";
  background: rgb(33, 29, 29);
  color: aliceblue;
  /* border: 2px solid rgb(85, 255, 0); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 50px;
  align-items: center;
}

/*HEADER*/

.header {
  margin: 50px 50px;
  display: flex;
}

.header-left {
  margin: 30px;
  /* width: 50%; */
}

.header-left-container {
  margin: center;
}

.header-rigth {
  /* width: 50%; */
}

#modem {
  width: 80%;
  height: 80%;
  margin: 15;
  padding: 100px;
}

.infos {
}

.infos-left {
}

.btn-container {
}
